{% extends 'm_a_s/base.html' %}

{% block content %}
    <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <h2 class="fw-normal">New Client</h2>
            <p>There may be a description.</p>
            <p><a class="btn btn-secondary" href="#">Add new &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    {% for object in object_list %}
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
            </svg>
            <h2 class="fw-normal">{{ object.last_first_middle_name }}</h2>
            <p>{{ object.comment|truncatechars:30 }}</p>
            <p><a class="btn btn-secondary" href="{% url 'mas:client_details' object.pk %}">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    {% endfor %}
{% endblock %}