{% extends 'm_a_s/base.html' %}
{% block content %}
<div class="col-12">


    <form class="row" method="post">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a class="btn btn-danger" href="{% url 'mas:newsletters_list' %}" type="submit">Back</a>



                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                    {{ formset.management_form }}
                    {% for form in formset.forms %}
                        {{ form.as_p }}
                    {% endfor %}



                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}